.contenedorPrincipal{
    display: flex;
}
.carousel{
    border-style: solid;
    border-width: 0.2rem;
    width: 1200px;
}
aside{
    border-style: solid;
    border-left: none;
    background-color: lightgreen;
    width: 100%;
}
.imagenesInicio{
    height: 700px;
}